In [23]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns


import sklearn.preprocessing
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.feature_selection import RFE
from pydataset import data
from math import sqrt
from sklearn.metrics import mean_squared_error
import warnings

warnings.filterwarnings("ignore")
from  wrangle import wrangle_zillow

pd.set_option('display.max_columns', None)

# 1.Select a dataset with a continuous target variable.

In [2]:
def split_data(df, seed=123):
    '''
    This function takes in a dataframe, the name of the target variable
    (for stratification purposes), and an integer for a setting a seed
    and splits the data into train, validate and test. 
    Test is 20% of the original dataset, validate is .30*.80= 24% of the 
    original dataset, and train is .70*.80= 56% of the original dataset. 
    The function returns, in this order, train, validate and test dataframes. 
    '''
    train_validate, test = train_test_split(df, test_size=0.2, 
                                            random_state=seed) 
                                            
    train, validate = train_test_split(train_validate, test_size=0.3, 
                                       random_state=seed)
                                       
    return train, validate, test

In [3]:
# import swiss data from pydataset
df= data('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
# check if there is any null values.
df.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [5]:
#changing categorical column to binary
df['sex']= df['sex'].map({'Female':0, 'Male':1})
df['smoker']= df['smoker'].map({'No':0, 'Yes':1})
df['time']= df['time'].map({'Lunch':0,'Dinner':1})

In [6]:
#get dummies for the day column
df=pd.get_dummies(df,columns=['day'], drop_first= True)
df.head()

   total_bill   tip  sex  smoker  time  size  day_Sat  day_Sun  day_Thur
1       16.99  1.01    0       0     1     2        0        1         0
2       10.34  1.66    1       0     1     3        0        1         0
3       21.01  3.50    1       0     1     3        0        1         0
4       23.68  3.31    1       0     1     2        0        1         0
5       24.59  3.61    0       0     1     4        0        1         0

In [10]:
#scale the data using a copy of the dtaframe. columns to be scaled total_bill and size
scaler = sklearn.preprocessing.MinMaxScaler()

# Fit the scaler
scaler.fit(df[['total_bill','size']])


#transform the data
df[['total_bill','size']] = scaler.transform(df[['total_bill','size']])
df.head()

   total_bill   tip  sex  smoker  time  size  day_Sat  day_Sun  day_Thur
1    0.291579  1.01    0       0     1   0.2        0        1         0
2    0.152283  1.66    1       0     1   0.4        0        1         0
3    0.375786  3.50    1       0     1   0.4        0        1         0
4    0.431713  3.31    1       0     1   0.2        0        1         0
5    0.450775  3.61    0       0     1   0.6        0        1         0

In [12]:
# split the data using split-data function
train, validate, test = split_data(df)
print(train.shape, validate.shape,test.shape)

(136, 9) (59, 9) (49, 9)

In [48]:
train.head()

     total_bill   tip  sex  smoker  time  size  day_Sat  day_Sun  day_Thur
19     0.291160  3.50    0       0     1   0.4        0        1         0
173    0.087558  5.15    1       1     1   0.2        0        1         0
119    0.196062  1.80    0       0     0   0.2        0        0         1
29     0.390239  4.30    1       0     1   0.2        1        0         0
238    0.623377  1.17    1       1     1   0.2        1        0         0

In [49]:
train.shape

(136, 9)

In [50]:
X_train = train.drop(columns=['tip'])
y_train= train.tip

X_validate = validate.drop(columns=['tip'])
y_validate = validate.tip

X_test= test.drop(columns=['tip'])
y_test = test.tip

In [34]:
X_train

     total_bill  sex  smoker  time  size  day_Sat  day_Sun  day_Thur
19     0.291160    0       0     1   0.4        0        1         0
173    0.087558    1       1     1   0.2        0        1         0
119    0.196062    0       0     0   0.2        0        0         1
29     0.390239    1       0     1   0.2        1        0         0
238    0.623377    1       1     1   0.2        1        0         0
208    0.746963    1       1     1   0.6        1        0         0
184    0.421031    1       1     1   0.6        0        1         0
61     0.360704    1       1     1   0.2        1        0         0
42     0.301424    1       0     1   0.2        0        1         0
161    0.386049    1       0     1   0.6        0        1         0
98     0.187683    1       1     1   0.2        0        0         0
71     0.187474    1       0     1   0.2        1        0         0
244    0.329074    0       0     1   0.2        0        0         1
177    0.310432    1       1     1   0.2        0        1         0
141    0.301634    0       0     0   0.2        0        0         1
180    0.661081    1       1     1   0.2        0        1         0
12     0.674277    0       0     1   0.6        0        1         0
109    0.317763    1       0     1   0.2        1        0         0
237    0.199623    1       1     1   0.2        1        0         0
76     0.155844    1       0     1   0.2        1        0         0
120    0.440092    0       0     0   0.6        0        0         1
223    0.115417    1       1     0   0.0        0        0         0
24     0.761416    1       0     1   0.6        1        0         0
130    0.413699    1       0     0   0.4        0        0         1
101    0.173439    0       1     1   0.2        0        0         0
236    0.146628    1       0     1   0.2        1        0         0
148    0.184332    0       0     0   0.2        0        0         1
45     0.572476    1       0     1   0.6        0        1         0
35     0.308127    1       0     1   0.2        1        0         0
133    0.169669    0       0     0   0.2        0        0         1
44     0.138458    1       0     1   0.2        0        1         0
192    0.350649    0       1     0   0.2        0        0         1
144    0.502304    0       0     0   1.0        0        0         1
243    0.308965    1       0     1   0.2        1        0         0
94     0.277545    0       1     1   0.2        0        0         0
166    0.449309    1       0     1   0.4        0        1         0
193    0.531420    1       1     0   0.2        0        0         1
99     0.375786    1       1     1   0.2        0        0         0
153    0.297235    1       0     1   0.4        0        1         0
179    0.136783    0       1     1   0.2        0        1         0
178    0.239003    1       1     1   0.2        0        1         0
125    0.197109    0       0     0   0.2        0        0         1
77     0.311060    1       1     1   0.2        1        0         0
33     0.251152    0       0     1   0.2        1        0         0
228    0.364055    1       0     1   0.6        1        0         0
70     0.250105    1       1     1   0.2        1        0         0
117    0.562631    1       0     1   0.6        0        1         0
227    0.147047    0       1     0   0.2        0        0         0
27     0.215752    1       0     1   0.2        1        0         0
136    0.113951    0       0     0   0.2        0        0         1
48     0.614370    1       0     1   0.6        0        1         0
215    0.525765    0       1     1   0.4        1        0         0
102    0.257855    0       1     1   0.2        0        0         0
221    0.190406    1       1     0   0.2        0        0         0
155    0.349811    1       0     1   0.6        0        1         0
95     0.412233    0       0     1   0.2        0        0         0
75     0.244240    0       0     1   0.2        1        0         0
213    0.948052    1       0     1   0.6        1        0         0
233    0.178886    1       0     1   0.2        1        0         0
31     0.135735    1       0     1   0.2        1        0         0
11     0.150817    1       0     1   0.2        0        1         0
138    0.232090    0       0     0   0.2        0        0         1
147    0.326142    0       0     0   0.4        0        0         1
39     0.327189    1       0     1   0.4        1        0         0
23     0.266024    0       0     1   0.2        1        0         0
219    0.097822    1       1     1   0.2        1        0         0
85     0.270423    1       0     0   0.2        0        0         1
57     0.731881    1       1     1   0.6        1        0         0
185    0.785086    1       1     1   0.2        0        1         0
64     0.318810    1       1     1   0.6        1        0         0
191    0.264349    1       1     1   0.2        0        1         0
202    0.202556    0       1     0   0.2        0        0         1
55     0.471093    1       0     1   0.6        0        1         0
79     0.412442    1       0     0   0.2        0        0         1
230    0.399036    0       1     1   0.2        1        0         0
149    0.140553    1       0     0   0.2        0        0         1
157    0.944700    1       0     1   1.0        0        1         0
78     0.505446    1       0     0   0.6        0        0         1
159    0.216171    0       0     1   0.2        0        1         0
172    0.266862    1       1     1   0.2        1        0         0
142    0.654168    1       0     0   1.0        0        0         1
139    0.270842    1       1     0   0.2        0        0         1
13     0.258693    1       0     1   0.2        0        1         0
110    0.235442    0       1     1   0.2        1        0         0
186    0.369083    1       0     1   0.8        0        1         0
73     0.498324    0       1     1   0.2        1        0         0
51     0.198366    1       0     1   0.2        0        1         0
65     0.304147    1       0     1   0.4        1        0         0
162    0.200880    1       0     1   0.2        0        1         0
46     0.318810    1       0     1   0.2        0        1         0
199    0.208002    0       1     0   0.2        0        0         1
222    0.216799    0       1     0   0.2        0        0         0
18     0.276917    1       0     1   0.4        0        1         0
16     0.387725    1       0     1   0.2        0        1         0
168    0.599916    1       0     1   0.6        0        1         0
205    0.365731    1       1     0   0.6        0        0         1
122    0.216799    0       0     0   0.2        0        0         1
26     0.308756    1       0     1   0.6        1        0         0
10     0.245287    1       0     1   0.2        0        1         0
240    0.543779    1       0     1   0.4        1        0         0
28     0.201508    1       0     1   0.2        1        0         0
135    0.318182    0       0     0   0.2        0        0         1
151    0.230415    1       0     1   0.2        0        1         0
140    0.211353    0       0     0   0.2        0        0         1
59     0.171135    1       1     1   0.2        1        0         0
226    0.276498    0       1     0   0.2        0        0         0
209    0.444072    1       1     1   0.2        1        0         0
67     0.280268    0       0     1   0.2        1        0         0
224    0.270423    0       0     0   0.4        0        0         0
17     0.152074    0       0     1   0.4        0        1         0
210    0.202974    0       1     1   0.2        1        0         0
89     0.453289    1       0     0   0.2        0        0         1
37     0.277336    1       0     1   0.4        1        0         0
217    0.525346    1       1     1   0.8        1        0         0
124    0.269795    1       0     0   0.2        0        0         1
196    0.094051    1       0     0   0.2        0        0         1
60     0.946795    1       0     1   0.6        1        0         0
231    0.438626    1       1     1   0.6        1        0         0
100    0.196690    1       0     1   0.2        0        0         0
118    0.158777    0       0     0   0.2        0        0         1
112    0.087558    0       0     1   0.0        1        0         0
207    0.492669    1       1     1   0.4        1        0         0
1      0.291579    0       0     1   0.2        0        1         0
229    0.213867    1       0     1   0.2        1        0         0
127    0.114160    1       0     0   0.2        0        0         1
2      0.152283    1       0     1   0.4        0        1         0
88     0.318601    1       0     0   0.2        0        0         1
176    0.624843    1       1     1   0.2        0        1         0
15     0.246334    0       0     1   0.2        0        1         0
68     0.000000    0       1     1   0.0        1        0         0
105    0.373900    0       0     1   0.2        1        0         0
234    0.161290    1       0     1   0.2        1        0         0
7      0.119397    1       0     1   0.2        0        1         0
8      0.498743    1       0     1   0.6        0        1         0
116    0.298282    0       0     1   0.2        0        1         0
167    0.370549    1       0     1   0.2        0        1         0

In [51]:
X_train.shape, y_train.shape, X_validate.shape, y_validate.shape

((136, 8), (136,), (59, 8), (59,))

In [52]:
X_train.shape, X_validate.shape, X_test.shape, y_validate.shape

((136, 8), (59, 8), (49, 8), (59,))

In [18]:
# baseline = train.tip.mean()
# train['baseline'] = baseline
# validate['baseline'] = baseline


# # root mean square error for the train and validate sample with baseline
# train_rmse = sqrt(mean_squared_error(train.tip, train.baseline))
# valid_rmse = sqrt(mean_squared_error(validate.tip, validate.baseline))

# print(f'Train baseline RMSE: {train_rmse}')
# print('Validation baseline RMSE: {}.'.format(valid_rmse))

In [53]:
# fit the linear regression model to scaled train data samoples
lm = LinearRegression()

lm.fit(X_train, y_train)

LinearRegression()

In [54]:
#predictions using  x_train
y_pred_lm= lm.predict(X_train)
rmse = sqrt(mean_squared_error(y_train, y_pred_lm))
print(f'train RMSE{rmse}')

#prdictions using validate sample
y_pred = lm.predict(X_validate)
rmse = sqrt(mean_squared_error(y_validate, y_pred))
print(f'validate RMSE {rmse}')

train RMSE1.020076250050266
validate RMSE 1.1562209094697196

In [55]:
# using the test sample on the model
y_pred_test= lm.predict(X_test)
rmse = sqrt(mean_squared_error(y_test, y_pred_test))
print(f'test RMSE{rmse}')

test RMSE0.8503868072402969

In [44]:
#fit  lars and fit
lars = LassoLars(alpha=1.0)

lars.fit(X_train, y_train)

LassoLars()

In [45]:
#fit TweedieRegressor model
glm = TweedieRegressor(power=0, alpha=1)

glm.fit(X_train, y_train)

TweedieRegressor(alpha=1, power=0)

In [57]:
# evaluate all three models created above
models=[lars,glm]

for model in models:
    y_train[str(model)] = model.predict(X_train)
    rmse_train = sqrt(mean_squared_error(y_train,
                                         y_train[str(model)]))
    
    y_validate[str(model)] = model.predict(X_validate)
    rmse_validate = sqrt(mean_squared_error(y_validate,
                                         y_validate[str(model)]))
    
    print('RMSE for {} model on the train dataset: {}.'.format(model, round(rmse_train, 2)))
    print('RMSE for {} model on the validate dataset: {}.'.format(model, round(rmse_valid, 2)))
    print()